//colours
$creator-primary: #202020;
$creator-secondary: #D51F26;
$standard-primary: #F97A7A;
$standard-secondary: #B8DDE5;
$text-black: #1A1A1A;
$text-white: #FFFFFF;

//fonts
$MADEEvolveSansEVO: 'MADEEvolveSansEVO';
$AcuminPro: 'AcuminPro';
$Consolas: 'Consolas';

//breakpoints
$xl: 1904px;
$lg: 1264px;
$md: 960px;
$sm: 600px 