//colours
$creator-primary: #202020;
$creator-secondary: #D51F26;
$standard-primary: #F97A7A;
$standard-secondary: #B8DDE5;
$text-black: #1A1A1A;
$text-white: #FFFFFF;

//fonts
$BebasNeue: 'BebasNeue', 'Roboto', Arial , sans-serif;
$MADEEvolveSansEVO: 'MADEEvolveSansEVO', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$MADEEvolveSans: 'MADEEvolveSans', 'Roboto', Arial, sans-serif;
$AcuminPro: 'AcuminPro', 'Roboto', Arial, sans-serif;
$Consolas: 'Consolas', 'Courier New', Courier, monospace;

//breakpoints
$xl: 1904px;
$lg: 1264px;
$md: 960px;
$sm: 600px 